/* src/notes.css */

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  padding: 20px;
  min-height: 100vh; /* Ensure it takes full height of the viewport */
}

.add-note-subject-container {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.add-note, .add-subject {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.add-note {
  flex: 3;
}

.add-subject {
  flex: 1;
}

.add-note textarea, .add-subject input {
  padding: 10px;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
  border: none;
}


.notes-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
  border: none;
}

.add-note button, .add-subject button {
  width: 100%;
  padding: 10px;
  background-color: rgb(15, 57, 73);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.add-note button:hover, .add-subject button:hover {
  background-color: #4a7abf;
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.note-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #1e1e1e;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}

.note-item:hover {
 animation: note-hover 0.5s ease; 
}

.add-note textarea {
  width: 95%;
  height: 80px; /* Slightly smaller height */
  resize: none; /* Disable resizing */
}

.note-content {
  flex: 1;
  color: #ffffff;
  margin-right: 10px;
  text-align: left; /* Align text to the left */
}

.note-subject {
  color: #a0a0a0;
  font-size: 1.2rem;
  text-align: right;
  margin-left: 10px;
}

.edit-textarea {
  width: 99%;
  margin-right: 10px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #333333;
  font-size: 1.2rem;
  color: #ffffff;
}

.note-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.note-actions select {
  width: auto;
}

.note-delete-button, .note-edit-button {
  border: none;
  border-radius: 3px;
  color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  background-color: #0b1f35;
}

.note-delete-button {
  background-color: rgb(105, 105, 105);
}

.note-delete-button:hover {
  background-color: rgb(53, 52, 52);
}

.note-edit-button {
  background-color: rgb(15, 57, 73);
}

.note-edit-button:hover {
  background-color: #4a7abf;
}

textarea, input {
  width: 100%;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
